<%- include('../partials/header') %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/projects">Project Management System</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/projects"
          >Projects <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
    </ul>
    <a
      href="/logout"
      class="btn btn-outline-success my-2 my-sm-0 d-flex justify-content-end"
      >Logout</a
    >
  </div>
</nav>
<% if(error.length > 0){ %>
  <div class="alert alert-danger" role="alert"><%= error %></div>
<% } %>

<h1>Change Password</h1>

<form action="" class="form-horizontal" method="POST">
  <div class="form-group">
    <label for="oldpassword" class="control-label sm-2">Old Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" name="oldpassword" id="oldpassword"/>
    </div>
  </div>
  <div class="form-group">
    <label for="newpassword" class="control-label sm-2">New Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" name="newpassword" id="newpassword"/>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmpassword" class="control-label sm-2">Re-Type Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" name="confirmpassword" id="confirmpassword"/>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Change Password</button>
</form>

<%- include('../partials/footer') %>
