body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-search {
  margin-top: 20px;
}
.btn-reset {
  margin-top: 20px;
  margin-left: 15px;
}

.form-group{
  margin-bottom: 20px;
}

.form-control{
  margin-top: 10px;
}

.option-checkbox{
  margin-left: 50px;
}

.table-data{
  margin-top: 30px;
}

.id-head{
  display: none;
}
.id-data{
  display: none;
}
.name-head{
  display: none;
}
.name-data{
  display: none;
}
.member-head{
  display: none;
}
.member-data{
  display: none;
}