body {
  padding: 50px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #00B7FF;
}

.btn-search {
  margin-top: 20px;
}
.btn-reset {
  margin-top: 20px;
  margin-left: 15px;
}

.form-group{
  margin-bottom: 20px;
}

.form-control{
  margin-top: 10px;
}

 .option-checkbox{
  margin-left: 50px;
}

.table-data{
  margin-top: 30px;
}

.header-style{
  padding-top: 30px;
  margin-bottom: 20px;
}
