<%- include('../partials/header') %>

<h1>Add Project</h1>

<form action="" class="form-horizontal" method="POST">
  <div class="form-group">
    <label for="name" class="control-label sm-2">Name Project</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="name" name="name" />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add Project</button>
</form>

<%- include('../partials/footer') %>
