<%- include('../partials/header') %>
<%- include('../components/navbar') %> 

<% if(error.length > 0){ %>
  <div class="alert alert-danger" role="alert"><%= error %></div>
<% } %>
<div class="header-style">
  <h1>Change Password</h1>
</div>

<form action="" class="form-horizontal" method="POST">
  
  <div class="form-group">
    <label for="newpassword" class="control-label sm-2">New Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" name="newpassword" id="newpassword"/>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmpassword" class="control-label sm-2">Re-Type Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" name="confirmpassword" id="confirmpassword"/>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Change Password</button>
</form>

<%- include('../partials/footer') %>
